<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>

    <bean class="org.springcore.autowiring.annotation.Address" name="address">
        <property name="addressCity" value="Indore"/>
        <property name="addressPin" value="452011"/>
    </bean>

    <bean class="org.springcore.autowiring.annotation.Address" name="employeeAddress">
        <property name="addressCity" value="Bhopal"/>
        <property name="addressPin" value="462001"/>
    </bean>

    <bean class="org.springcore.autowiring.annotation.Address" name="employeeAddress1">
        <property name="addressCity" value="Delhi"/>
        <property name="addressPin" value="110001"/>
    </bean>

    <bean class="org.springcore.autowiring.annotation.Employee" name="employee" p:employeeName = "same" />

</beans>